/* src/components/DashboardStyles.css */
/* Container for the whole dashboard */
.dashboard-container {
     min-height: 100vh;
    background: linear-gradient(to bottom right, #eaf2ff, #ffffff);
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Main content area */
.main-content {
    padding: 3px;
    max-width: 1200px;
    background: rgba(182, 226, 255, 0.5);
    border: 2px dashed rgb(158, 197, 219);
    border-radius: 20px;
    margin: 70px 70px 10px 70px;
}


/* Search Bar */
.search-bar-container {
    
    margin-bottom: 2px;
    padding: 0px 40px;
    /*text-align: center;*/
}

.search-bar-container h3 {
    color: var(--secondary-dark);
    margin-bottom: 1rem;
}

.search-input {
    width: 80%;
    max-width: 600px;
    padding: 2rem 1rem;
    border-radius: 2rem; 
    background-color: #fff;
    font-size: 1rem;
    outline: none;
    box-shadow: 4px 4px 0 #abbdfc;
    transition: all 0.3s ease-in-out;
}

.search-input:focus {
    box-shadow: 0 4px 10px rgba(103, 0, 238, 0.582);
}



/* Loading and error messages */
.loading-message, .error-message {
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
}

.loading-message {
    background-color: #fffde7;
    color: #f9a825;
}

.error-message {
    background-color: #ffebee;
    color: #d32f2f;
}

/* Subject materials view */
.subject-materials-view {
    padding: 2rem;
    margin-top: 2rem;
}

.subject-title-header {
    font-size: 1.4rem;
    font-weight: bold;
    color: #6a1b9a;
    margin-bottom: 1rem;
    text-align: center;
}

/* Back button style */
.back-button {
    display: inline-block;
    margin: 15px 60px;
    padding: 1.5rem 1.5rem;
    border: none;
    border-radius: 2rem;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 0.95rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.back-button:hover {
    background: #512da8;
}

/* Logout/Info Popup Messages */
.logout-popup {
    position: fixed;
    top: 20px;
    right: 20px;
    min-width: 250px;
    padding: 14px 20px;
    border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
    z-index: 9999;
    animation: slideInRight 0.5s ease-out;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.logout-popup.success {
     background: linear-gradient(135deg, #e8f5e9, #c8e6c9);
    border: 2px dashed #57d057;
    color: #256d25;
}

.logout-popup.error {
    background: linear-gradient(135deg, #ffebee, #ffcdd2);
    border: 2px dashed #e06666;
    color: #b30000;
}


/* Animation */
@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(-20px); }
    20% { opacity: 1; transform: translateY(0); }
    80% { opacity: 1; }
    100% { opacity: 0; transform: translateY(-20px); }
}
